html {
    background: #f7f5ee;
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid rgb(47, 14, 143);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: #e8e7e7;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0, 3.13, 0.98, 1.15);
    }

.second-hand {
    height: 1px;
    background-color: red;
    
}

.min-hand {
 width: 50%;   
 border: 1px black solid;
}

.hour-hand {
    height: 10px;
    width: 33%;
    margin-left: 17%;
    border: 1px black solid;
}

#number-container p {
    height: 3rem;
    position: absolute;
    padding: 0;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

#number-container {
    height: 28rem;
    width: 28rem;
    position: absolute;
    margin: auto;
    left: 30px;
    bottom: 41px;
}

#digital {
    border: rgb(124 110 255) 1px solid;
    position: absolute;
    width: 10rem;
    height: 2.5rem;
    left: 11.8rem;
    bottom: 7rem;
}

#time {
    font-family: arial;
    font-size: 1.6rem;
    position: absolute;
    left: 1.99rem;
    bottom: -1.4rem;
    z-index: -10;
}

#digi-Day {
    border: rgb(124 110 255) 1px solid;
    position: absolute;
    width: 5rem;
    height: 2.5rem;
    left: 8.8rem;
    bottom: 15.5rem;

}

#digi-Month {
    border: rgb(124 110 255) 1px solid;
    position: absolute;
    width: 5rem;
    height: 2.5rem;
    right: 8.8rem;
    bottom: 15.5rem;
}

#digi-Day p,
#digi-Month p {
    position: absolute;
    top: -1.2rem;
    left: 1.2rem;
    text-align: center;
    font-family: arial;
    font-size: 1.6rem;
}

#digi-Day p {
    padding-left: 0.6rem;
}
